# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
env/
venv/
ENV/
*.env
*.venv
.Python

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Migrations
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log
**/migrations/*.sqlite3

# Env files and Secrets
.env
*.secret
